* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cormorant", serif;
}

.header {
  margin: 48px;
}

.header_logo {
  display: inline-block;
  font-weight: 300;
  margin-right: 32px;
}

.header_list {
  vertical-align: middle;
  display: inline-block;
}

.header_list li {
  display: inline-block;
}

.header_list a {
  color: #010101;
  text-decoration: none;
  font-size: 20px;
  margin: 0 16px;
}

.header_list .active {
  /* text-decoration: 1px underline black; */
  border-bottom: 1px solid;
}
