* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cormorant", serif;
}

.header {
  margin: 48px;
}

.header_logo {
  display: inline-block;
  font-weight: 300;
  margin-right: 32px;
}

.header_list {
  vertical-align: middle;
  display: inline-block;
}

.header_list li {
  display: inline-block;
}

.header_list a {
  color: #010101;
  text-decoration: none;
  font-size: 20px;
  margin: 0 16px;
}

.header_list .active {
  /* text-decoration: 1px underline black; */
  border-bottom: 1px solid;
}

/* Gallery */
.gallery {
  padding: 16px;
  margin-bottom: 100px;
}

.card {
  /* when we have an element that are inline block the space between element is created using the new line */
  display: inline-block;
  /* width: calc(49.75% - 20px); */
  width: 49.88%;
  /* margin: does not works becuase the margin ouside the element. so we will use the padding instead */
  padding: 16px;
  margin-bottom: 24px;
}

.card img {
  width: 100%;
  height: 500px;
  margin-bottom: 8px;
  object-fit: cover;
}

.card h2 {
  font-weight: 300;
  margin: 0;
}

/* ABOUT */

.about {
  width: 40%;
  min-width: 600px;
  margin-left: 200px;
}

.about-text {
  font-size: 36px;
  margin-bottom: 48px;
}

.about-link {
  font-size: 40px;
  text-decoration: none;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  color: black;
  display: inline-block;
  margin-bottom: 100px;
}

.about-contact {
  margin-bottom: 100px;
}

.about-contact p {
  font-size: 24px;
  margin: 0;
}
